.main-sec5
{
    &-img
    {
        img
        {
            @include media('phone')
            {
                width: 130px;
                height: 130px;
                border-radius: 50%;
            }
        }
    }
    &-info
    {
        display: flex;
        flex-direction: column;
        width: 60%;
        @include media('phone')
        {
            width: 100%;
            margin-top: 1rem;
        }
        &-ul
        {
            padding-left: 2rem;
            li
            {
                font:$primary-font;
                color: $first-additional-color;
                margin-right: .5rem;
                @include media('small-phone')
                {
                    font-size: .6rem;
                }
            }
            li:first-of-type
            {
                font: bold 1.25rem $secondary-font-family;
                color: $secondary-color-dark;
                @include media('small-phone')
                {
                    font-size: .7rem;
                }
            }
            @include media('phone')
            {
                padding-left: 0;
            }
        }
        
        &-text
        {
            width: 100%;
            height: auto;
            position: relative;
            p
            {
                position: absolute;
                top: 0px;
                left:-30px;
                background-color: $secondary-color-light;
                padding: 3.6rem 3rem;
                font:italic 400 .93rem $primary-font-family;
                color: $first-additional-color;
                line-height: 1.5rem;
                z-index: 1;
                @include media('phone')
                {
                    position: relative;
                    left: 0;
                }
                &::after
                {
                    content: "\f09b";
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    z-index:-1;
                    top: 0%;
                    left: 0%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: rgba($secondary-color-dark,0.06);
                    font:bold normal 150px 'Font Awesome 5 Brands';
                }
            }
        }
    }
}