$primary-color:#f81c1c;
$primary-light-color:#777;

$secondary-color:#1a1d24;
$secondary-color-dark:#141619;
$secondary-color-light:#fff;

$first-additional-color:#797979;
$second-color-additional:#f7f7f7;

:root
{
    --primary-color:#f81c1c;
    --primary-light-color:#777;

    --secondary-color:#1a1d24;
    --secondary-color-dark:#141619;
    --secondary-color-light:#fff;

    --first-additional-color:#797979;
    --second-color-additional:#f7f7f7;
}
